html,
body {
  margin: 0;
  height: 100%;
}

.map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.control-coordinates {
  pointer-events: all;
  top: auto;
  bottom: 0.5em;
  left: 0.5em;
  background: var(--ol-background-color);
  color: var(--ol-foreground-color);
  border: 1px solid var(--ol-subtle-foreground-color);
  padding: 2px 6px;
  font-size: 1em;
}
